#how-do-i {

	margin-top: 100px;
	margin-left: 100px;

	border: 1px solid #d6d6d6;
	display: inline-block;
	
	.how-do-i-select {

		color: #4d4e53; //rgb(77,78,83)
		padding: 12px 20px 10px 20px;
		font-size: 32px;
		font-weight: bold;

		width: 400px;
		display: block;

		span {
			float: right;
			color: #b37f2c;
		}
	

		&:hover {

			text-decoration: none;
			color: rgba(77,78,83,.5);
			border-bottom: 1px solid #d6d6d6;

		}
	}

	.how-do-i-options {

		display: none;

		list-style-type: none;
		padding: 10px 20px 10px 20px;

		text-align: left;
		margin-bottom: 0;

		&:hover {

			border-top: 1px solid #d6d6d6;
		}

		li {

			a {

				font-size: 28px;
				color: #4d4e53;

				&:hover {

					text-decoration: none;
					color: rgba(77,78,83,.5);

				}
			}
		}
	}
}


#how-do-i:hover .how-do-i-options {

	display: block;
}


